<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MDP.DevKit.LineNotify.Lab</title>
</head>
<body>

    <!--Title-->
    <h2>MDP.DevKit.LineNotify.Lab</h2>
    <hr />

    <!--Message-->
    <h3>Hello World</h3>

</body>
</html>