

@media (min-width: 66.5rem) {
    .side-bar {
        max-width:16.5rem;
    }
    .site-nav,.site-header,.site-footer {
        width:100%;
    }
    .site-title {
       font-size:1.125rem !important;
    }
}

@media (min-width: 50rem) {
    .side-bar {
        max-width:16.5rem;
    }
    .site-nav,.site-header,.site-footer {
        width:100%;
    }
    .site-title {
       font-size:1.125rem !important;
    }
}